* {
  box-sizing: border-box;
}
body {
  --tw-bg-opacity: 1;
  background-color: rgb(248, 251, 255);
}

.container-grid {
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 1rem;
}

.input-grid {
  grid-column: 1/7;
  grid-gap: 1rem;
}
.barcode {
  width: 80%;
  height: 3.6rem;
}
input::placeholder {
  width: 16em;
}

/* @media screen and (max-width: 768px) {
  .input-code {
    grid-template-columns: repeat(14, minmax(0, 1fr));
  }
  body {
    margin-left: 20px;
  }
} */
